@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Playfair+Display:ital,wght@0,500;1,500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/pexels-polina-kovaleva-5717478.jpg);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px;
    height: 65vh;
    width: 50vw;
    border-radius: 10vh;
    background: rgb(2,55,99);
    background: linear-gradient(90deg, rgba(2,55,99,1) 0%, rgba(77,74,131,0.9248074229691877) 40%, rgba(88,77,136,0.8239670868347339) 46%, rgba(94,78,138,0.9416141456582633) 49%, rgba(210,80,138,0.969625350140056) 100%);
    color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.43) 0px 15px 12px;
}

.welcome button {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.8) 0px 15px 12px;
    background-color: rgb(62, 88, 109);
    border: none;
    width: 20vw;
    height: 7vh;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: medium;
    font-family: 'Poppins';
    cursor: pointer;
    font-weight: bold;
}

.welcome button:hover{
    background-color: rgba(210,80,138,0.969625350140056);

}

